.backdrop {
  background-color: #e0efff;
}

.card {
  height: 100vh;
  padding: 10px 25px;
  margin-top: 2%;
  text-align: left;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  margin-left: 7%;
  margin-right: 7%;
}
.image {
  width: 100%;
  background-size: cover;
  height: 100vh;
}

.Details {
  float: right;
  text-align: start;
  margin-right: 5%;
}
.Description {
  font-size: 1.2rem;
}
.pera {
  margin-top: -2%;
  font-size: 1.2rem;
}
@media (max-width: 910px) {
  .card {
    height: auto;
  }

  .Details {
    margin-left: 5%;
  }
}
